*{
    margin: 0;
}

body {
    background: linear-gradient(119deg, #74a7fe,#e32400);
    font-family: Arial, sans-serif;
}
h1 {
    color: #333;
    text-align: center;
}
p {
    font-size: 18px;
    color: #ffffff;
    padding: 5px;
    margin: 5px;
}

section{
    background-color: #534c4c77;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
} 

img{
    width: 500px;
    border-radius: 50px;
    height:auto;
}



input {
	width: 300px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
}