<!DOCTYPE html>
<html>
<head>
    <title>Моя страница</title>
    <link rel="stylesheet" href="\static\css\style.css">
</head>
<body>
    {% block content %}
    <h1>Атомная энергия!</h1>
    <section>
    <img src="/static/images/global warming.jpg" alt="Global Warming">
    <p>Глобальное потепление сказывается на продовольственной и водной безопасности каждого человека. 
        Изменение климата является непосредственной причиной деградации почв, что ограничивает количество 
        удерживаемого землей углерода. Сегодня около 500 миллионов человек живут в районах, подверженных эрозии 
        почв, и до 30 процентов продовольствия теряется или выбрасывается впустую. Между тем из-за изменения 
        климата наблюдается сокращение объема водных запасов, используемых для питья и сельского хозяйства, а также ухудшение качества самой воды.
        Во многих регионах сельскохозяйственные культуры, процветавшие там веками, выживают все реже, в связи с
         чем ситуация с продовольственной безопасностью становится все менее стабильной. Такие последствия,
          как правило, сказываются в первую очередь на бедных и уязвимых слоях населения. Глобальное потепление, 
          вероятно, приведет к увеличению разрыва в показателях экономического роста между богатейшими и беднейшими странами мира.</p>
    </section>
    <section>
    <p>Для достижения целей в связи с изменением климата почти вся электроэнергия должна быть низкоуглеродной, 
        что будет возможно только в случае более широкого использования ядерной энергетики, заявил сегодня на открытии Научного форума 2020 года Генеральный директор МАГАТЭ Рафаэль Мариано Гросси. 
        «Нам потребуется использовать все источники энергии, которые не приводят к выбросу парниковых газов. Ядерная энергетика — это часть решения».
        Ядерная энергетика является надежным источником энергии — даже во время пандемий — и на ее долю уже приходится треть всей низкоуглеродной электроэнергии. 
        Использование атомной энергии развивается по мере научно-технического прогресса, и в этом году Научный форум будет посвящен той роли, 
        которую ядерная энергетика может сыграть в переходе к экологически чистой энергии, помогая странам достичь как целей в связи с климатом, так и целей в области развития.</p>
        <img src="static\images\global warming2.png" alt = "Global Warming">
    </section>
    <section>
        <img src="static\images\gw3.jpg" alt="Global Warming">
    <p>Другие отрасли, которые в значительной степени зависят от ископаемых видов топлива, такие как промышленность, 
        транспорт и отопление и охлаждение зданий, также должны стать безуглеродными, добавил г-н Гросси. 
        Как альтернатива ископаемому топливу все чаще рассматривается водород, а ядерная энергетика может обеспечивать производство водорода без выбросов. 
        «К примеру, водород может использоваться для приведения автомобилей в движение с помощью топливных элементов или как средство хранения энергии. 
        Он все чаще рассматривается в качестве одного из ключевых факторов, способствующих переходу к экологически чистой энергии».</p>
    </section>

    <section>
    <p>О необходимости расширения использования низкоуглеродной энергии также говорила Исполнительный секретарь Европейской экономической комиссии Организации Объединенных Наций (ЕЭК ООН) Ольга Алгаерова. 
        «Усилия по повышению экологичности энергетической системы принесли пока скромные результаты. Нам необходимо внедрить все имеющиеся технологии. 
        Мы не сможем вместе достигнуть нашей цели, если ядерная энергия будет исключена». 
        Исполнительный директор Международного энергетического агентства Фатих Бироль указал, что ядерная энергетика является частью решения проблемы изменения климата. Он перечислил три основные причины:
        на ядерную энергетику приходится вторая по величине доля чистой электроэнергии в мире;
        солнечная и ветровая энергетика будет использоваться все более активно, однако для нее характерны перерывы в энергоснабжении;
        ядерная энергетика может сыграть важнейшую роль в том, чтобы промышленная отрасль стала безуглеродной.</p>
        <img src="static\images\gw4.jpg" alt="Global Warming">
    </section>

    <section>
        <img src="static\images\gw5.jpg" alt="Global Warming">
    
        
        <p>Парниковый эффект – это когда солнечные лучи проникают в атмосферу, но когда это тепло отражается от поверхности, оно не может уйти обратно в космос. 
        Газы, образующиеся при сжигании ископаемого топлива, не позволяют теплу покидать атмосферу. 
        Эти парниковые газы представляют собой углекислый газ, хлорфторуглероды, водяной пар, метан и закись азота.  
        Избыточное тепло в атмосфере привело к постепенному повышению средней глобальной температуры, что также известно как глобальное потепление.        
        Глобальное потепление породило еще одну проблему, называемую изменением климата. Иногда эти фразы используются как взаимозаменяемые, однако они разные. 
        Изменение климата означает изменения погодных условий и вегетационного периода по всему миру. Это также относится к повышению уровня моря,
        вызванному расширением более теплых морей и таянием ледниковых щитов и ледников. 
        Глобальное потепление вызывает изменение климата, которое представляет серьезную угрозу для жизни на Земле в виде широкомасштабных наводнений и экстремальных погодных явлений. 
        Ученые продолжают изучать глобальное потепление и его влияние на Землю.</p>
    </section>
    <form action="/" method="POST">
        <label for="gram">Сколько грамм урана?</label>
        <input type="text" name="gram" id="gram" placeholder="Введите граммы" required>
        <button type ="submit">Готово!</button>
        
        
    </form>
    {{gram}}
    {% endblock %}
</body>
</html>
 